<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.agora.flat">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Agora -->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Agora RTM-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <queries>
        <package android:name="com.tencent.mm" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_flat"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlatAndroid">
        <activity
            android:name=".ui.activity.play.ClassRoomActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.playback.PlaybackActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.room.CreateRoomActivity"
            android:exported="true" />
        <activity android:name=".ui.activity.room.JoinRoomActivity" />
        <activity android:name=".ui.activity.room.SubscribeRoomActivity" />
        <activity
            android:name=".ui.activity.setting.FeedbackActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.setting.AboutUsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.dev.DevToolsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="x-agora-flat-client" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.setting.SettingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.dev.ComposeTestActivity"
            android:exported="true"
            android:label="@string/title_activity_compose_test" />
        <activity
            android:name=".ui.activity.home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.FlatAndroid.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.setting.UserProfileActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="io.agora.flat"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.activity.room.RoomDetailActivity" />
    </application>

</manifest>