<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="link.netless.flat">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlatAndroid">
        <activity
            android:name=".ui.activity.play.RoomPlayActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.activity.play.PlaybackActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.room.CreateRoomActivity"
            android:exported="true"
            android:label="@string/title_activity_create_room"
            android:theme="@style/Theme.FlatAndroid.NoActionBar" />
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.DevToolsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.ComposeTestActivity"
            android:exported="true"
            android:label="@string/title_activity_compose_test"
            android:theme="@style/Theme.FlatAndroid.NoActionBar" />
        <activity
            android:name=".ui.activity.home.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.FlatAndroid.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.UserProfileActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="link.netless.flat"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.activity.room.RoomDetailActivity" />
    </application>

</manifest>